In [1]:
import numpy as np
import pandas as pd

In [2]:
flow_rates = pd.read_csv("../data/flow_rates.csv")
flow_apc = pd.read_csv("../data/flow_apc.csv")

ratesMale = flow_rates[flow_rates['sex'] == 'male'].reset_index(drop=True)
apcMale = flow_apc[flow_apc['sex'] == 'male'].reset_index(drop=True)

rates = np.array(ratesMale.iloc[:, 2:])
apc = np.array(apcMale.iloc[:, 2:])

In [3]:
from scripts import pmsltsrc as pms

model = pms.pmsltModel()

In [4]:
baseflows = ['n_s', 's_rs', 'n_v', 'v_rv', 's_vrs', 'v_s']
ages = [0, 14, 15, 16, 18, 21, 24, 28, 33, 40, 50, 60, 70, 90, 109]

In [5]:
flows = model.flows

In [6]:
computed = ['n_s', 's_rs', 'n_v', 'v_rv', 's_vrs', 'v_s', 'age', 'v_sv', 's_sv',
       'sv_s', 'sv_vrs', 'vrs_s', 'vrs_sv', 'vrs_rv', 'sv_rs']

noncomputed = [i for i in flows if i not in computed]

In [7]:
interactions = pd.read_csv("../data/flowInteractions.csv")

interflows = interactions.columns[1:]

tempflows = pd.DataFrame(np.ones((98, 7)), columns=interflows)

tempflows["agecategory"] = [i for i in range(110) if i not in interactions["agecategory"].values]

interactions = pd.concat([interactions, tempflows], axis=0).sort_values(by="agecategory").reset_index(drop=True)

interactions.loc[interactions["agecategory"] > 25, "v_sv from n_s "] = 2

In [8]:
empty = pd.DataFrame(np.empty((95, 6)), columns=baseflows)
empty["age"] = [i for i in np.arange(0, 110) if i not in ages]

In [9]:
def process(inpArray: np.ndarray):
    rates = pd.DataFrame(inpArray[:90].reshape(15, 6), columns=baseflows)
    apc = pd.DataFrame(inpArray[90:].reshape(15, 6), columns=baseflows)

    rates["age"] = ages
    apc["age"] = ages

    rates = pd.concat([rates, empty], ignore_index=True).sort_values(by="age").reset_index(drop=True)
    apc = pd.concat([apc, empty], ignore_index=True).sort_values(by="age").reset_index(drop=True)

    rates = rates.interpolate(method='linear', axis=0)
    apc = apc.interpolate(method='linear', axis=0)

    for interflow in interflows:
        flow1 = interflow.split("from")[1].strip()
        flow2 = interflow.split("from")[0].strip()

        rates[flow2] = rates[flow1] * interactions[interflow]
        apc[flow2] = apc[flow1].copy()

    rates['sv_rs'] = rates[['s_rs', 'v_rv']].min(axis=1)
    apc['sv_rs'] = apc[['s_rs', 'v_rv']].min(axis=1)

    rates[noncomputed] = flow_rates[noncomputed]
    apc[noncomputed] = flow_apc[noncomputed]

    rates = np.array(rates.iloc[:, 1:])
    apc = np.array(apc.iloc[:, 1:])

    return (rates, apc)

In [10]:
def costFunc(inpArray):

    n = inpArray.shape[0]

    outs = [process(inpArray[i, :]) for i in range(n)]
    nrates = [outs[i][0] for i in range(n)]
    napc = [outs[i][1] for i in range(n)]
    outs = [model.pmslt(nrates[i], napc[i]) for i in range(n)]

    j = [score for (score, _) in outs]

    return j

In [11]:
def costFunc_single(inpArray):
    (rates, apc) = process(inpArray)
    score, _ = model.pmslt(rates, apc)
    return score

In [12]:
apc_lower = np.array([-0.25, 0, -0.25, -0.25, -0.25, -0.25]*15)
apc_upper = np.array([0, 0.25, 0.25, 0.25, 0.25, 0.25]*15)

In [13]:
rates_upper = pd.read_csv("../data/flow_rates_upper.csv")
rates_upper = rates_upper[rates_upper['sex'] == 'male'].drop(columns=['sex']).reset_index(drop=True)

rates_upper.loc[rates_upper['agecategory'] == 19, 'agecategory'] = 21

emptyUpper = np.empty((10, 6))
emptyUpper[:] = np.nan
emptyUpper = pd.DataFrame(emptyUpper, columns=baseflows)
emptyUpper["agecategory"] = [i for i in ages if i not in rates_upper["agecategory"].values]

rates_upper = pd.concat([rates_upper, emptyUpper], ignore_index=True).sort_values(by="agecategory").reset_index(drop=True)

rates_upper.ffill(inplace=True)

In [14]:
rates_lower = np.array(np.zeros((9, 6))).flatten()
rates_lower = np.concatenate((rates_lower, np.array([0, 0, 0, 0.01, 0, 0]*6)))

rates_upper = np.array(rates_upper.iloc[:, 1:]).flatten()

In [15]:
constraints = (np.concatenate((rates_lower, apc_lower)), np.concatenate((rates_upper, apc_upper)))

### Swarm optimization

In [15]:
import pyswarms as ps

In [16]:
optimizer = ps.global_best.GlobalBestPSO(n_particles=50, 
                                         dimensions=180,    
                                         options={'c1': 0.5, 'c2': 0.3, 'w': 0.9},
                                         bounds=constraints)

In [17]:
#cost, args = optimizer.optimize(costFunc, iters=100)

2024-07-18 00:55:24,020 - pyswarms.single.global_best - INFO - Optimize for 100 iters with {'c1': 0.5, 'c2': 0.3, 'w': 0.9}
pyswarms.single.global_best:   0%|          |0/100, best_cost=6.26e+4c:\Users\orect\mambaforge\envs\popint\lib\site-packages\pyswarms\backend\handlers.py:387: RuntimeWarning: invalid value encountered in remainder
  new_pos[greater_than_bound] = lb[greater_than_bound] + np.mod(
pyswarms.single.global_best: 100%|██████████|100/100, best_cost=6.26e+4
2024-07-18 02:38:55,583 - pyswarms.single.global_best - INFO - Optimization finished | best cost: 62586.453805968915, best pos: [ 0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.01758242  0.          0.14520186  0.          0.          0.
  0.0494819   0.          0.293785    0.          0.23274952  0.29996152
  0.11306908  0.          0.05703698  0.          0.23780251  0.04586907
  0.1301143   0.14389011  0.3030244   0.0842512   0.24526081  0.22500384
  0.10258791  0.12394622  0.05869081  0.07379745  0.27130919  0.18959616
  0.          0.01244949  0.24593331  0.09644204  0.05856822  0.1691629
  0.          0.1434304   0.04939047  0.1258302   0.29006594  0.33441518
  0.          0.14339602  0.17575042  0.13069735  0.18655807  0.20468715
  0.          0.02261974  0.11113008  0.06105324  0.05835196  0.23547127
  0.          0.13207479  0.13866632  0.0697265   0.28339814  0.02617485
  0.          0.1347934   0.1563624   0.13170342  0.24556316  0.21928971
  0.          0.11370842  0.26117483  0.04775006  0.30455175  0.19911747
  0.          0.10714489  0.34090866  0.02704386  0.04397558  0.03830473
 -0.115747    0.0123568  -0.15181831  0.2122871  -0.05509591  0.05217794
 -0.02529842  0.2129616   0.18966456 -0.01990647  0.05870854 -0.07806897
 -0.13233459  0.0580891   0.00248501 -0.05642492  0.13714827 -0.09304655
 -0.01639679  0.13770251  0.20136948  0.17192844  0.14565763 -0.21685634
 -0.07136813  0.0168169  -0.11401186  0.0946377   0.07998315 -0.11202137
 -0.06641556  0.00754309  0.09591323 -0.22276925 -0.1632825  -0.08830946
 -0.01520217  0.24072214  0.05711998  0.23498209  0.19285974  0.17604281
 -0.13853956  0.20971777  0.01979431  0.17564626 -0.00123745 -0.24664505
 -0.19188741  0.15118062  0.20293332 -0.22856752 -0.00683095  0.12316482
 -0.11960604  0.04094687 -0.04965519  0.07946864  0.19123431 -0.07376457
 -0.21477271  0.14229713 -0.2257066   0.10676731 -0.09220964 -0.21079085
 -0.04201252  0.00877555  0.07295491  0.03262293 -0.06412439 -0.01177315
 -0.18873739  0.15867995  0.07387769 -0.12824193  0.23189601  0.19612657
 -0.21583864  0.14363163 -0.16134531 -0.02530912 -0.16072483  0.21679972
 -0.14605766  0.10997227  0.08130131  0.02580918  0.12322915 -0.16638469]

In [23]:
#costFunc_single(args)

np.float64(62586.453805968915)

In [25]:
#rates, apc = process(args)

In [33]:
#np.savetxt("../data/outputs/rates_PSO_50p_100i.csv", rates, delimiter=",")
#np.savetxt("../data/outputs/apc_PSO_50p_100i.csv", apc, delimiter=",")

In [31]:
#score = model.pmslt(rates, apc)

In [41]:
argsRates = pd.DataFrame(args[:90].reshape(15, 6), columns=baseflows)
argsRates["age"] = ages
argsApc = pd.DataFrame(args[90:].reshape(15, 6), columns=baseflows)
argsApc["age"] = ages

In [42]:
argsRates

         n_s      s_rs       n_v      v_rv     s_vrs       v_s  age
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000   14
2   0.017582  0.000000  0.145202  0.000000  0.000000  0.000000   15
3   0.049482  0.000000  0.293785  0.000000  0.232750  0.299962   16
4   0.113069  0.000000  0.057037  0.000000  0.237803  0.045869   18
5   0.130114  0.143890  0.303024  0.084251  0.245261  0.225004   21
6   0.102588  0.123946  0.058691  0.073797  0.271309  0.189596   24
7   0.000000  0.012449  0.245933  0.096442  0.058568  0.169163   28
8   0.000000  0.143430  0.049390  0.125830  0.290066  0.334415   33
9   0.000000  0.143396  0.175750  0.130697  0.186558  0.204687   40
10  0.000000  0.022620  0.111130  0.061053  0.058352  0.235471   50
11  0.000000  0.132075  0.138666  0.069727  0.283398  0.026175   60
12  0.000000  0.134793  0.156362  0.131703  0.245563  0.219290   70
13  0.000000  0.113708  0.261175  0.047750  0.304552  0.199117   90
14  0.000000  0.107145  0.340909  0.027044  0.043976  0.038305  109